<h2 appHighlight >Http Getting data form the server </h2>
<table>
    <thead>
        <tr>
            <th>Fname</th>
            <th>lname</th>
            <th>Number</th>
            <th>Email</th>
            <th>Gender</th>
            <th>country</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.number}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.country}}</td>
        </tr>
    </tbody>
</table>