<h2 appHighlight >Forms</h2>
<form (ngSubmit)="onSubmit (userForm)" #userForm="ngForm">
    <div>
        <label>
            Enter your first name : <input id="fname" name="fname" type="text" class="formcontrol" ngModel required fname>
        </label>
    </div>
    <div>
        <label>
            Enter your last name : <input id="lname" name="lname" type="text" class="formcontrol" ngModel required lname>
        </label>
    </div>
    <div>
        <label>
            Enter your number : <input id="number" name="number" type="number" class="formcontrol" ngModel required number> 
        </label>
    </div>
    <div>
        <label>
            Enter your Mail ID : <input type="text" id="email" class="formcontrol" name="email" ngModel required email #email="ngModel">
        </label><br>
        <span *ngIf="!email.valid && email.touched">Please enter valid email</span>
    </div>
    <div>
        <label for="gender">Select your gender : </label>
        <label>
            <input type="radio" name="gender" value="male" ngModel> Male 
        </label>
        <label>
            <input type="radio" name="gender" value="female" ngModel> Female 
        </label>
        <label>
            <input type="radio" name="gender" value="others" ngModel> Others 
        </label>
    </div>
    <div>
        <label for="country">Select Your Country : </label>
        <select for="country" class="formcontrol" ngModel required>
            <option *ngFor="let c of countryList">
                {{c.countryname}}
            </option>
        </select>
    </div>
    <div>
        <input id="submit" type="submit" [disabled]="!userForm.valid">      
    </div>
</form>
<hr>
<div>
    <app-reactive></app-reactive>
</div>
