<h1>Angular</h1>
<hr>
<h1>Parent to child by input binding</h1>
<app-parent></app-parent>
<hr>
<h1>By using set and get methods</h1>
<app-setParent></app-setParent>
<hr>
<!-- <app-dataParent></app-dataParent>
<hr> -->
<app-lifecycle></app-lifecycle>
<hr>
<app-none></app-none>
<hr>
<app-emulated></app-emulated>
<hr>
<app-shadow></app-shadow>
<hr>
<app-first>
    <p>In single </p>
</app-first>
<hr>
<app-second>
    <p question>
        Is content projection cool?
      </p>
      <p>Let's learn about content projection!</p>
</app-second>
<hr>
<app-third> 
     <p>Let's learn about content projection!</p>
    <ng-container ngProjectAs="[question]">
      <p>Is content projection cool?</p>
    </ng-container>
</app-third>
<hr>
<app-interpolation></app-interpolation>
<hr>
<app-property-binding></app-property-binding>
<hr>
<!-- <app-event-binding></app-event-binding>
<hr> -->
<app-pipes></app-pipes>
<hr>
<app-tempVariable></app-tempVariable>
<hr>
<app-svg></app-svg>
<hr>