<h1>Angular</h1>
<hr>
<h1>Parent to child by input binding</h1>
<app-parent></app-parent>
<hr>
<h1>By using set and get methods</h1>
<app-setParent></app-setParent>
<hr>
<!-- <app-dataParent></app-dataParent>
<hr> -->
<!-- <app-lifecycle></app-lifecycle>
<hr> -->
<app-main></app-main>
<hr>
<app-first>
  <p>In single </p>
</app-first>
<hr>
<app-second>
  <p question>
    Im multi  content projection
  </p>
</app-second>
<hr>
<app-third>
  <ng-container ngProjectAs="[question]">
    <p>In content projection</p>
  </ng-container>
</app-third>
<hr>
<app-interpolation></app-interpolation>
<hr>
<app-attribute></app-attribute>
<hr>
<app-classBinding></app-classBinding>
<hr>
<app-property-binding></app-property-binding>
<hr>
<app-event-binding></app-event-binding>
<hr>
<app-twoWay></app-twoWay>
<hr>
<app-pipes></app-pipes>
<hr>
<app-tempVariable></app-tempVariable>
<hr>
<app-svg></app-svg>
<hr>
<app-builtIn></app-builtIn>
<hr>
<app-structural></app-structural>
<hr>
<app-dependancy></app-dependancy>
<hr>
<nav>
  <ul>
    <li>
      <a routerLink="FirstComponent">First</a>
    </li>
    <li>
      <a routerLink="SecondComponent">Second</a>
    </li>
    <li>
      <a routerLink="Unknown">Error</a>
    </li>
    <li>
      <a routerLink="lazy/lazyFirst">lazy loading</a>
    </li>
    <li>
      <a routerLink="lazy/lazySecond">Second</a>
    </li>
  </ul>
</nav>  
<router-outlet></router-outlet>